.contentCotainer{
    display: flex;
}
.roundedBtn{
    background: linear-gradient(to right, #56c596, #4dc994, #43ce91, #38d28e, #2bd68a, #3cda88, #49de85, #56e283, #72e783, #8aec84, #9ff185, #b3f688);
    padding: 10px !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    width: 124px;
}

.header{
    background-color: transparent !important;
}

.nav.active{
    color: black !important;
    
}

.nav{
    color: #0FDB84 !important;
    margin-left: 2 0px !important;
    margin-right: 20px !important;
}

.navImg{
    width: 8%;
    height: auto;
}